<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="Author" content="IDV Pacific - Scanner Manager - [EMAS]">
    <meta name="robots" content="index, follow">
    <title>IDV Scanner Admin Login</title>
    <meta name="description" content="IDV Scanner Admin Manager System">
    <meta name="keywords" content="IDV, IDV Pacific, Scanner, Gemalto">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Theme/Base/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/css/main.css">
    <link href="~/Theme/Login/css/notification/notification.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="limiter">
        @RenderBody()
    </div>
    <script src="~/Theme/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Theme/Login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Theme/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Theme/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Theme/Login/vendor/select2/select2.min.js"></script>
    <script src="~/Theme/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Theme/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Theme/Login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Theme/Login/js/main.js"></script>
    <script src="~/Theme/Login/css/notification/bootstrap-growl.min.js"></script>
    @RenderSection("JavaSCR", false)
</body>
</html>